# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
[Bb]in/
[Oo]bj/

# IIS Express
applicationhost.config

# Logs
*.log

# NuGet
*.nupkg
*.snupkg
project.lock.json
artifacts/
packages/

# Visual Studio cache
*.cache
*.ide/
*.dbmdl

# Otros temporales
*.pdb
*.tmp
*.bak
*.swp
*.FileListAbsolute.txt

# Rider / JetBrains
.idea/
*.sln.iml

# Publicaciones
publish/

# Archivos de configuración sensibles
*.secret.json
*.config.user
